body{
    font-family: Open Sans;
}

.brand-logo{
    height: 50px;
    width: 50px;

}

.parallax {
    background-image: url("../images/banner.jpg");

    height: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topDiv{
    margin-top: 150px;
}

.color1{
    background-color: #D0D3D4;
}

.color2{
    background-color: #EAEDED;
}

